

.columnCont {
  display: flex;
  flex-direction: column;
  background-color: $color1;
  color: $color3;
  border-radius: 15px;
  padding: 10px;
  margin: 0 10px;
}

.cardCont {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  margin: 10px 0; 
}