@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$color1: #006d77;
$color2: #83c5be;
$color3: #edf6f9;
$color4: #ffddd2;
$color5: #e29578;

// darkmode colors

$color6: #BB86FC;
$color7: #3700B3;
$color8: #03DAC6;
$color9: #121212;
$color10: #FFFFFF;



$mainFont: 'Poppins';